/ExemploJavaSimples/nbproject/private/
/ExemploJavaSimples/build/
/POOExemplo/nbproject/private/
/POOExemplo/build/
*.pdb
*.dll
*.cache
*.pdb
Hackerhank/ChanllengesHanckerHank/ChanllengesHanckerHank/bin/Debug/netcoreapp3.1/ChanllengesHanckerHank.dll
